.guild-list-container {
    color: #000000;
}

.guild-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.attested {
    filter: invert(51%) sepia(94%) saturate(725%) hue-rotate(72deg) brightness(93%) contrast(102%);
}
